==
{% if pages.hasPages %}
  <ul class="pagination">
    <li>
      {% if pages.currentPage > 1 %}
        <a href="{{ pages.previousPageUrl }}" class="pagination__prev pagination__item" rel="prev">Назад</a>
      {% else %}
          <span class="pagination__prev pagination__item pagination_disabled">Назад</span>
      {% endif %}
    </li>

    {% for page in range(1, pages.lastPage) %}
      <li>
        <a href="{{ pages.url(page) }}" class="{{ pages.currentPage == page ? 'pagination__item_active' }} pagination__item">{{ page }}</a>
      </li>
    {% endfor %}

    <li>
      {% if pages.hasMorePages %}
        <a href="{{ pages.nextPageUrl }}" rel="next" class="pagination__next pagination__item">Дальше</a>
      {% else %}
        <span class="pagination__next pagination__item pagination_disabled">Дальше</span>
      {% endif %}
    </li>
  </ul>
{% endif %}