==
<option value="Южно-Сахалинск" {{ city == "Южно-Сахалинск" ? 'selected' }}>Южно-Сахалинск</option>
<option value="Корсаков" {{ city == "Корсаков" ? 'selected' }}>Корсаков</option>
<option value="Холмск" {{ city == "Холмск" ? 'selected' }}>Холмск</option>
<option value="Оха" {{ city == "Оха" ? 'selected' }}>Оха</option>
<option value="Поронайск" {{ city == "Поронайск" ? 'selected' }}>Поронайск</option>
<option value="Долинск" {{ city == "Долинск" ? 'selected' }}>Долинск</option>
<option value="Ноглики" {{ city == "Ноглики" ? 'selected' }}>Ноглики</option>
<option value="Александровск-Сахалинский" {{ city == "Александровск-Сахалинский" ? 'selected' }}>Александровск-Сахалинский</option>
<option value="Невельск" {{ city == "Невельск" ? 'selected' }}>Невельск</option>
<option value="Углегорск" {{ city == "Углегорск" ? 'selected' }}>Углегорск</option>
<option value="Анива" {{ city == "Анива" ? 'selected' }}>Анива</option>
<option value="Тымовское" {{ city == "Тымовское" ? 'selected' }}>Тымовское</option>
<option value="Смирных" {{ city == "Смирных" ? 'selected' }}>Смирных</option>
<option value="Южно-Курильск" {{ city == "Южно-Курильск" ? 'selected' }}>Южно-Курильск</option>
<option value="Шахтерск" {{ city == "Шахтерск" ? 'selected' }}>Шахтерск</option>
<option value="Макаров" {{ city == "Макаров" ? 'selected' }}>Макаров</option>
<option value="Томари" {{ city == "Томари" ? 'selected' }}>Томари</option>
<option value="Северо-Курильск" {{ city == "Северо-Курильск" ? 'selected' }}>Северо-Курильск</option>
<option value="Курильск" {{ city == "Курильск" ? 'selected' }}>Курильск</option>