==
<option 
  value="Автосервис, автотовары"
  {{ industry == "Автосервис, автотовары" ? 'selected' }}
>
  Автосервис, автотовары
</option>
<option 
  value="Бытовое обслуживание"
  {{ industry == "Бытовое обслуживание" ? 'selected' }}
>
  Бытовое обслуживание
</option>
<option 
  value="Государство"
  {{ industry == "Государство" ? 'selected' }}
>
  Государство
</option>
<option 
  value="Для дома и офиса"
  {{ industry == "Для дома и офиса" ? 'selected' }}
>
  Для дома и офиса
</option>
<option 
  value="Животные, питомцы"
  {{ industry == "Животные, питомцы" ? 'selected' }}
>
  Животные, питомцы
</option>
<option 
  value="Компьютеры, интернет"
  {{ industry == "Компьютеры, интернет" ? 'selected' }}
>
  Компьютеры, интернет
</option>
<option 
  value="Красота, здоровье"
  {{ industry == "Красота, здоровье" ? 'selected' }}
>
  Красота, здоровье
</option>
<option 
  value="Культура, искусство"
  {{ industry == "Культура, искусство" ? 'selected' }}
>
  Культура, искусство
</option>
<option 
  value="Мебель"
  {{ industry == "Мебель" ? 'selected' }}
>
  Мебель
</option>
<option 
  value="Медицина"
  {{ industry == "Медицина" ? 'selected' }}
>
  Медицина
</option>
<option 
  value="Наука, образование, работа"
  {{ industry == "Наука, образование, работа" ? 'selected' }}
>
  Наука, образование, работа
</option>
<option 
  value="Недвижимость"
  {{ industry == "Недвижимость" ? 'selected' }}
>
  Недвижимость
</option>
<option 
  value="Нефть, газ"
  {{ industry == "Нефть, газ" ? 'selected' }}
>
  Нефть, газ
</option>
<option 
  value="Общество"
  {{ industry == "Общество" ? 'selected' }}
>
  Общество
</option>
<option 
  value="Одежда, обувь, аксессуары"
  {{ industry == "Одежда, обувь, аксессуары" ? 'selected' }}
>
  Одежда, обувь, аксессуары
</option>
<option 
  value="Отдых, развлечения, кафе"
  {{ industry == "Отдых, развлечения, кафе" ? 'selected' }}
>
  Отдых, развлечения, кафе
</option>
<option 
  value="Право"
  {{ industry == "Право" ? 'selected' }}
>
  Право
</option>
<option 
  value="Продукты питания"
  {{ industry == "Продукты питания" ? 'selected' }}
>
  Продукты питания
</option>
<option 
  value="Промышленность"
  {{ industry == "Промышленность" ? 'selected' }}
>
  Промышленность
</option>
<option 
  value="Реклама, полиграфия"
  {{ industry == "Реклама, полиграфия" ? 'selected' }}
>
  Реклама, полиграфия
</option>
<option 
  value="Рыбная отрасль"
  {{ industry == "Рыбная отрасль" ? 'selected' }}
>
  Рыбная отрасль
</option>
<option 
  value="СМИ"
  {{ industry == "СМИ" ? 'selected' }}
>
  СМИ
</option>
<option 
  value="Связь"
  {{ industry == "Связь" ? 'selected' }}
>
  Связь
</option>
<option 
  value="Семья, дети"
  {{ industry == "Семья, дети" ? 'selected' }}
>
  Семья, дети
</option>
<option 
  value="Строительство, ремонт"
  {{ industry == "Строительство, ремонт" ? 'selected' }}
>
  Строительство, ремонт
</option>
<option 
  value="Торговля"
  {{ industry == "Торговля" ? 'selected' }}
>
  Торговля
</option>
<option 
  value="Транспорт, перевозки"
  {{ industry == "Транспорт, перевозки" ? 'selected' }}
>
  Транспорт, перевозки
</option>
<option 
  value="Туризм, спорт"
  {{ industry == "Туризм, спорт" ? 'selected' }}
>
  Туризм, спорт
</option>
<option 
  value="Финансы"
  {{ industry == "Финансы" ? 'selected' }}
>
  Финансы
</option>
<option 
  value="Экстренные службы"
  {{ industry == "Экстренные службы" ? 'selected' }}
>
  Экстренные службы
</option>