==
<form class="help-form" method="" action="" data-request="{{ __SELF__ }}::onFormSubmit" id="CF" name="CF">
  {{ form_token() }}
  <div class="help-form__wrapper wrapper">
    <h3 class="help-form__title">Поможем в выборе!</h3>
    <p class="help-form__description">Если у вас есть вопросы о формате или вы не знаете что выбрать, оставьте свой номер: мы позвоним, чтобы ответить на все ваши вопросы.</p>
    <div class="help-form__block">
      <div class="help-form__item">
        <span>Имя</span>
        <input type="text" class="help-form__input" id="name" name="name">
      </div>

      <div class="help-form__item">
        <span>Телефон</span>
        <input type="text" class="help-form__input" id="phone" name="phone">
      </div>

      <div class="help-form__item">
        <span>Почта</span>
        <input type="text" class="help-form__input" id="email" name="email">
      </div>
    
      <div class="help-form_bottom">
        <div class="help-form__processing">
          <input type="checkbox" class="help-form__checkbox" id="agree"> <label for="agree">Я согласен с условиями обработки <a class="person-data">персональных данных</a></label>
        </div>
        <button type="submit" class="help-form__btn">Отправить</button>
    </div>
    <div id="{{ __SELF__ }}_forms_flash" class="forms_flash"></div>
  </div>
</form>